# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.UdemyProject2.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Udemy3DProje2Repository\UdemyProject2\.idea\.idea.UdemyProject2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
